<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="pmm_devConnectionString" connectionString="Data Source=H-HEMMDB;Initial Catalog=HEMM;Persist Security Info=True;User ID=intelliweb;Password=1$4web* " providerName="System.Data.SqlClient"/>
    <add name="amc_userConnectionString" connectionString="Data Source=H-HEMMDB;Initial Catalog=HEMM;Persist Security Info=True;User ID=intelliweb;Password=1$4web* " providerName="System.Data.SqlClient"/>    
    <add name="cnctBIAdmin_HMC" connectionString="Data Source=UWM-HEBI1;Initial Catalog = uwm_BIAdmin; Persist Security Info=True;User ID= sv_hmcmm_reports;Password=$v#Mma66t " providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="archivePath" value="\\Lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\InventorySearch\archive\"/>
    <add key="logFilePath" value="\\Lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\InventorySearch\"/>
    <add key="logFile" value="InvSearchLog.txt"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true">     
      <!--  targetFramework="4.6.1"     targetFramework="v2.0.50727"
      <codeSubDirectories>
        <add directoryName="csharp"/>
      </codeSubDirectories>-->
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!-- <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>      
    </modules>  -->
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:Default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>